<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <!--
      The versions of some of the NetStandard ref assemblies do not match the runtime assemblies. Setting
      GenerateBindingRedirectsOutputType and AutogenerateBindingRedirects properties in the will add the
      relevant redirects to this file.

      System.Linq, however, doesn't have a runtime assembly in the package. It matches the desktop name and
      has to be redirected down explicitly here to target 4.0.0.0 as the targets won't get it right.
    -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>